@model Shipping.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Mymester.cshtml";
}

<h2>Edit</h2>

<h4>Order</h4>
<hr />
<div class="Culume">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                <input asp-for="Quality" class="form-control" />
                <span asp-validation-for="Quality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shippingcost" class="control-label"></label>
                <input asp-for="Shippingcost" class="form-control" />
                <span asp-validation-for="Shippingcost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

