@model Shipping.Models.O_I

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Mymester.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>O_I</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order_Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order_Order.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Items_Items)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Items_Items.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="O_ID" />
        <input type="hidden" asp-for="I_ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
