@model Shipping.Models.O_I

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Mymester.cshtml";
}

<h2>Edit</h2>

<h4>O_I</h4>
<hr />
<div class="Culume">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="O_ID" />
            <input type="hidden" asp-for="I_ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

