@model Shipping.Models.Craditcarrd

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Mymester.cshtml";
}

<h2>Create</h2>

<h4>Craditcarrd</h4>
<hr />
<div class="Culume">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="C_name" class="control-label"></label>
                <input asp-for="C_name" class="form-control" />
                <span asp-validation-for="C_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_address" class="control-label"></label>
                <input asp-for="C_address" class="form-control" />
                <span asp-validation-for="C_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_Number" class="control-label"></label>
                <input asp-for="C_Number" class="form-control" />
                <span asp-validation-for="C_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vcs" class="control-label"></label>
                <input asp-for="Vcs" class="form-control" />
                <span asp-validation-for="Vcs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expirydate" class="control-label"></label>
                <input asp-for="Expirydate" class="form-control" />
                <span asp-validation-for="Expirydate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



